/* Styling the Body element */
body {
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    font-family: Verdana;
    text-align: center;
}
body h1{
    margin-bottom: -20px;
}
/* Styling the Form */
form {
    border-radius: 10px;
    background-color: #e6fffc;
    max-width: 50%;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}
/* Styling .form-control */
.form-control {
    text-align: left;
    margin-bottom: 25px;
}
/* Styling .form-control label */
.form-control label {
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
}

/* Styling .form-control input, select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
    background-color: #e9e9e9;
}
/* Styling Radio button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}
/* Styling Button */
button {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    background-color: #65ff6d;
    border: 1px solid #777;
    border-radius: 10px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 5px;
}